<nav class="navbar navbar-inverse footer" style="margin-bottom: 0px;">
    <div class="container-fluid mynavbar-position">
        Copyright © Tran Hung Quan & Nguyen Thanh Lam
    </div>
</nav>

</html>