<% include _header%>
  <script>
    var config = {
      apiKey: "AIzaSyBlbaG62tmfGjS0HaBU279JIPFjs277NnE",
      authDomain: "fall-detection-datn.firebaseapp.com",
      databaseURL: "https://fall-detection-datn.firebaseio.com",
      projectId: "fall-detection-datn",
      storageBucket: "fall-detection-datn.appspot.com",
      messagingSenderId: "675417404598"
    };
    firebase.initializeApp(config);
    const messaging = firebase.messaging();
    messaging.requestPermission()
      .then(function () {
        console.log('Have permission');
      })
      .then(function(token){
        console.log(token);
      })
      .catch(function (err) {
        console.log('Error Occured');
      })

      messaging.onMessage(function(payload){
        console.log('onMessage: ',payload)
      });
  </script>
  <div class="container">
    <div class="starter-template">
      <p class="lead">
        <!-- <img src="http://192.168.0.222:8888/videostream.cgi?user=admin&pwd=admin" alt=""> -->
      </p>
    </div>
  </div>




  </body>

  <% include _footer%>