/*INDEX*/
.news-hot {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.container ul{
	
}


.li-box{
	width: 30%;
	list-style:none;
}
.li-box:nth-child(1) h5{
	    margin-left: 30px;
}
.li-box h5{
	font-family:arial;
	font-weight:bold;
	
}
.content-left{
	width: 430px;
	border: 2px solid;
	padding: 20px;
}
.content-right{
	width: 300px;
	border: 2px solid;
	padding: 20px;
	position: absolute;
	right: 15%;
}
.content{
	
}
.content ul{
	
}
.content ul li{
	border-bottom: 1px solid;
	margin-bottom: 15px;
	list-style:disc;
}

.content-left ul li a{
	font-family: arial;
	font-size: 16px;
	font-weight:bold;
}
.content-left ul li p{
	margin-top: 10px;
	font-size: 15px;
	font-family: arial;
}
.content-right ul li a{
	font-size: 13px;
	font-family: arial;
	font-weight:bold;
}
.content-right ul li p{
	font-family: arial;
	font-size: 11px;
	margin-top: 5px;
	line-height: 18px;
	text-align: justify;
}
.page{
	
	margin: 12px auto;
	position: relative;
	left: 24%;
}
.page a{
	margin-right: 15px;
	margin-left: 9px;
}

/*LOGIN*/
.form-signin {
	max-width: 400px;
	padding: 40px 20px 20px;
	margin: 0 auto;
}

.form-signin-heading {
	text-align: center;
	margin-bottom: 30px;
	margin-top: 50px;
}

.login-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
}

input[type="text"] {
	margin-bottom: 5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/*Footer*/
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	margin-bottom: 0px;
}


body {
	padding-top: 50px;
  }
  .starter-template {
	padding: 40px 15px;
	text-align: center;
  }
  



/*slide*/
.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}


/*list group*/
.list-cust .list-group-item:first-child {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.list-cust .list-group-item:last-child {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.list-cust .list-group-item {
   border-right:0px;
   border-left:0px;
}
/* .list-group :not(:first-child) {
	background-color: #EEE;
	
} */


/* aaaaaaaaa */
.user-row {
    margin-bottom: 20px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:100px;
}

body{
	font-size: 15px;
}
.panel-title{
	font-size: 20px;
}

.dropdown-toggle{
	color: red;
}

/*list */
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

.img-responsive{
	width: 60%
}


.button{
	font-size: 15px;
	background-color: mediumaquamarine;
	color: white;
	padding: 8px 30px;
}

a.btnAdd{
	margin-bottom: 0px;
  	background-color: dodgerblue;  
  	border-radius: 5px;
  	color: white;
  	padding: .3em;
  	text-decoration: none;
  	display:inline-block;
	width: fit-content;

}

.video-stream img{
	width: 100%;
}
/* a.btn {
	margin-bottom: 10px;
	background-color: ForestGreen;  
	border-radius: 5px;
	color: white;
	padding: .5em;
	text-decoration: none;
	display:inline-block;
  width: 160px;
  text-align: center;
} */


/*.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}

.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}*/

