<% include ../partials/_header%>
    <div class="container">
        <div class="starter-template">
            <div class="row listcamera">


                <br/>
                    <% for (i=0; i<id.length; i++) {%>
                    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                        <p style="text-align:left"><b>Camera <%= id[i].id_camera%>: <%=id[i].name_camera%></b></p>
                        <a href="watch?id=<%=id[i].id_camera%>"><img src="img/camera.png" class="img-responsive"></a>
                    </div>
                    <% }%>

        </div>
    </div>
    <script>

        
    </script>
    <% include ../partials/_footer%>