<% include ../partials/_header%>

  <div class="container">
    <div class="starter-template">
      <p class="lead">


        <img src="http://<%=camera[0].ip_address%>:<%=camera[0].port%>/videostream.cgi?user=admin&pwd=admin" alt="">
      </p>
    </div>
  </div>


  </body>

  <% include ../partials/_footer%>