<% include ../partials/_header%>

  <div class="container">
    <div class="starter-template">
      <p class="lead">
        <div class="col-xs-12 col-md-8 video-stream">
          <img src="http://<%=camera[0].ip_address%>:<%=camera[0].port%>/videostream.cgi?user=admin&pwd=admin" alt="">
        </div>
      </p>
    </div>
  </div>
  </body>

  <% include ../partials/_footer%>