<footer id="fh5co-footer " role="contentinfo ">
    <div class="container ">
        <div class="row row-bottom-padded-sm ">
            <div class="col-md-4 col-sm-12 ">
                <div class="fh5co-footer-widget ">
                    <h3>About Us</h3>
                    <p>Chúng tôi chỉ là những người làm đồ án tốt nghiệp Ahuhu. Tất cả những gì chém ở trên đều là cú lừa.
                    </p>
                </div>
            </div>
            <div class="col-md-5 col-md-push-3 col-sm-12 col-sm-push-0 ">
                <div class="fh5co-footer-widget ">
                    <h3>Liên hệ</h3>
                    <p style="margin-bottom: 15px">18 Tiên Sơn 7 hoặc 34 Lưu Trọng Lư, Hòa Cường Nam, Hải Châu, Đà Nẵng</p>


                    <p style="margin-bottom: 15px">Tel: + 0905353204</p>
                    <p style="margin-bottom: 15px">Email:
                        <a href="# ">culua2018@gmail.com</a>
                    </p>
                    <pstyle="margin-bottom: 15px">Website:
                        <a href="# ">www.falldetection-datn.herokuapp.com</a>
                        </p>
                </div>
            </div>


            <div class="row ">
                <div class="col-md-12 ">
                    <div class="fh5co-copyright ">
                        <p class="pull-left ">&copy; 2018 Quan Tran and Lam Nguyen </p>
                        <p class="pull-right ">Designed by
                            <a href="http://freehtml5.co " target="_blank ">FreeHTML5.co</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
</div>

<div class="gototop js-top ">
    <a href="# " class="js-gotop ">
        <i class="icon-chevron-down "></i>
    </a>
</div>

</body>

</html>