<% include ../partials/_header.ejs%>



    <div class="container">

        <div class="starter-template">
        
              <!-- Portfolio Item Row -->
              <div class="row">
        
                <div class="col-md-7">
                  <img class="img-fluid" src="img/info_3.jpg" alt="">
                </div>
        
                <div class="col-md-5">
                  <h3 class="my-3">Hãy đến với chúng tôi</h3>
                  <div style="text-align: justify; text-justify: inter-word">
                  <p>
                      Theo thống kế thì khoảng 30-45% người > 65 tuổi té ít nhất 1 lần/1 năm. Số lượng này lên đến 50% ở người > 80 tuổi
                </p>
                <p>
                    Hiện nay, đã có một số nghiên cứu và sản phẩm về thiết bị phần cứng hỗ trợ người cao tuổi thông báo đến người thân hoặc nhân viên khi gặp sự cố. Người cao tuổi phải đeo những thiết bị này, để dựa vào cảm biến gia tốc mà phát hiện sự té ngã. Một giải pháp khác là nút báo động được bấm khi người dùng ngã. Tuy vậy, không ít người dùng lại quên mang nút bấm bên mình, hoặc nếu có thì trong trường hợp bất tỉnh, người dùng vẫn không thể bấm nút.
                </p>
                <p>
                    Để khắc phục những hạn chế này, và tạo sự thuận tiện cho người sử dụng, một hệ thống bao gồm một máy tính (có thể là một mạch Rasperry Pi), được kết nối với IP camera (có dây hoặc không dây) được đặt ở góc phòng (thường nên đặt ở vị trí trên cao để có thể quan sát hết một không gian rộng) dùng để theo dõi và phát hiện té ngã ở người (cao tuổi). Người sử dụng sẽ thoải mái hơn khi không cần mang theo thiết bị nào nữa.
                </p>
            </div>
            <a class="btn btn-primary" href="#" role="button">Liên hệ ngay</a>
                  <!-- <h3 class="my-3">Project Details</h3>
                  <ul>
                    <li>Lorem Ipsum</li>
                    <li>Dolor Sit Amet</li>
                    <li>Consectetur</li>
                    <li>Adipiscing Elit</li>
                  </ul> -->
                </div>
        
              </div>

    
        </div>
    </div>

    </body>
<% include ../partials/_footer%>